
body { margin: 0;
text-align: center;
font-family: 'Piazzolla', serif;
font-size: 200%;
}


.top-container { background-color: #f7dad9;
  position: relative;
  padding-top: 0;
  line-height: 2;

}


h1 {margin: 5px auto 0 auto;
    font-family: 'Dancing Script', cursive;
   font-size: 5.625rem;
 color: #66BFBF; }

 h2 { color: #66BFBF;}

h3 { color: #11999E;}

   .p-first { font-size: 2.5rem;
   margin-top: 0;
   font-weight: normal;
 color: #66BFBF;}

 hr { border: dotted #EAF6F6 6px;
      border-bottom: none;
      width: 4%;
    margin: 100px auto;}

.middle-container {

}

.bottom-container { margin-top: 30px;
background-color: #66BFBF;
padding: 40px 0 20px 0;}

.bottom-cloud { position: absolute;
bottom: 300px;
left: 300px;}

.top-cloud { position: absolute;
right: 300px;
top: 50px;}
.programming-img { height: 250px;
  width: 25%;
  float: left;
  margin-right: 30px;
}

a { color: #11999E;
    text-decoration: none;}

a:hover { color: #EAF6F6;}


.ENDNOTE { margin-top: 10px;
margin-bottom: 10px;
color: #EAF6F6;
font-size: .77rem;}

.skill-row {
  line-height: 2;
  text-align: left;
  margin: 50px auto 50px auto;
  width: 50%;}
.biking { width: 25%;
float: right;
margin-left: 30px;}
.programming-description { clear: left;}
.biking-description { clear: right;}
.last-msg { margin: 50px auto;
            width: 60%;
        }

.footer-link { margin-right: 70px;}
.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 13px;
   line-height: 13px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 249px;
   font-size: 29px;
   font-weight: 100;
   padding: 28px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
